body {
    background-color: white;
}

#productContainer {
    display: flex; 
      flex-direction: row;
      flex-wrap: wrap;
  }
  
  .productCard {
      background-color: lightskyblue;                                                 
      width: 31%;
      margin: 1%;
      text-align: justify;
      padding: 1px;
      text-justify: inter-word;
      box-shadow: 10px 10px;
      outline: 1px solid lightblue;
      text-indent; 3ch;
  }

  .productHeader {

    background-color: black;                                                 
      width: 100%;
      margin: 0%;
      text-align: center;
      outline: 1px solid lightblue;

  }
  
  .specs {

    background-color: white;                                                 
      width: 100%;
      margin: 0%;
      text-align: left;
      font-weight: bold;
      text-indent: 3ch;

  }

  .avail {

    background-color: grey;                                                 
      width: 100%;
      margin: 0%;
      text-align: left;
      text-indent: 3ch;
      

  }

  .pricing {

    background-color: white;                                                 
      width: 100%;
      margin: 0%;
      text-align: left;
      font-weight: bold;
      text-indent: 3ch;
      
      

  }
    
  .image__productCard {
      max-width: 100%;
      
  }
  
  .header__productCard {
      font-family: Arial, Helvetica, sans-serif;
      color: white;
  }

  .header__specs {
      
  }
  
  h2 { 
      color: rgb(7, 65, 213);
  }

  h3 { 
    color:grey;
}
  
h4 { 
    color: yellow;
}


.footer {

    background-color: white;                                                 
      width: 100%;
      margin: 0%;
      text-align: left;
      text-indent: 3ch;
      
      
      

  }