body {
    background-color: white;
}

#productContainer {
    display: flex; 
      flex-direction: row;
      flex-wrap: wrap;
  }
  
  .productCard {
      background-color: grey;                                                 
      width: 31%;
      margin: 1%;
      text-align: center;
  }
  
  .specs {

    background-color: white;                                                 
      width: 100%;
      margin: 0%;
      text-align: center;

  }

  .pricing {

    background-color: grey;                                                 
      width: 100%;
      margin: 0%;
      text-align: center;

  }
    
  .image__productCard {
      max-width: 100%;
      
  }
  
  .header__productCard {
      font-family: Arial, Helvetica, sans-serif;
      color: white;
  }
  
  h2 { 
      color: rgb(7, 65, 213);
  }

  h3 { 
    color: rgb(7, 65, 213);
}
  
