body {
    background-color: #CFD8DC;
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#productContainer {
  display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.navigation > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.navigation li {
    list-style: none;
    padding-left: 50px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.productCard {
    background-color: white;
    width: 31%;
    margin: 1%;
    box-shadow: 10px 10px;
    outline: 1px solid lightblue;
}


.specsHeader {

    background-color: white;
      width: 100%;
      margin: 0%;
      text-align: left;
      font-weight: bold;
      text-indent: 2ch;
      color: #757575;
      

  }

.specs {

    background-color: white;
      width: 100%;
      margin: 0%;
      text-align: left;
      font-weight: bold;
      text-indent: 3ch;
      font-family: 'Roboto Condensed', sans-serif;
      color: #212121;

  }

  .pricingHeader {

      background-color: white;
        width: 100%;
        margin: 0%;
        text-align: left;
        font-weight: bold;
        text-indent: 2ch;
        color: #757575;

    }

  .pricing {

    background-color: white;
      width: 100%;
      margin: 0%;
      text-align: left;
      font-weight: bold;
      text-indent: 3ch;
      font-family: 'Roboto Condensed', sans-serif;
      color: #212121;



  }

.image__productCard {
    max-width: 98%;
    image-orientation: center;
}

.header__productCard {
    font-family: 'Roboto Condensed', sans-serif;
    color: white;
}

a {
    color: greenyellow;
}

.listItem__navigation  {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

h3 {
    color: grey;
    font-family: 'Roboto Condensed', sans-serif;
}


.description {

    background-color: white;
      width: 93%;
      margin: 2%;
      padding-left: 5px;
      padding-right: 5px;
      text-align: justify;
      text-justify: inter-word;
      font-family: 'Roboto Condensed', sans-serif;


  }


.avail {

    background-color: grey;
      width: 100%;
      margin: 0%;
      text-align: left;
      text-indent: 2ch;


  }

  .footer {

    background-color: white;
      width: 100%;
      margin: 0%;
      text-align: left;
      text-indent: 3ch;
      font-family: 'Roboto Condensed', sans-serif;
}


h2 {
      color: white;
      font-family: 'Roboto Condensed', sans-serif;
  }

h4 {
    color: yellow;
    font-family: 'Roboto Condensed', sans-serif;
}

.productHeader {

    background-color: #455A64;
      width: 100%;
      margin: 0%;
      text-align: center;
      font-family: 'Roboto Condensed', sans-serif;


  }

  .absolute {
    position: relative;
    position: absolute;
    top: 1000px;
    left: -20px;
   
  }